<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @app.description %>
</p>

<p>
  <strong>Dev lead:</strong>
  <%= @app.dev_lead %>
</p>

<p>
  <strong>Env support lead:</strong>
  <%= @app.env_support_lead %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
